{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Добро пожаловать!</title>
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
</head>
<body>
    <div id="container">
        <div id="header">Добро пожаловать!</div>
        <p>Выберите раздел:</p>
            <a href="{% url 'admin:index' %}">Админка</a>
            <br>
            <a href="{% url 'api-root' %}">API</a>
        <script type="text/javascript" src="{% static 'admin/js/core.js' %}"></script>
    </div>
</body>
</html>
